{% load static %} {% for room in rooms %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <a
      href="{% url 'user-profile' room.host.id %}"
      class="roomListRoom__author"
    >
      <div class="avatar avatar--small">
        <img src="{% static 'images/avatar.svg' %}" />
      </div>
      <span>@{{room.host.username}}</span>
    </a>
    <div class="roomListRoom__actions">
      <span>{{room.created | timesince}} ago</span>
    </div>
  </div>
  <div class="roomListRoom__content">
    <a href="{% url 'room' room.id %}">{{room.name}}</a>
  </div>
  {{room.followers.all.count}} followers
  <div class="roomListRoom__meta">
    <p class="roomListRoom__topic">{{room.topic.name}}</p>
  </div>
</div>
{% endfor %}
